root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true  # 在文件末尾插入空白
trim_trailing_whitespace = true  # 去除首航空白

[*.md]
max_line_length = off
trim_trailing_whitespace = false
  